@model CurriculoViewModel
@{
    Layout = null;
}


<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a42a254279.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>


<div class="curriculo-container">
    <!-- style=" "-->
    <div class="quadro-esquerdo">
        <div class="foto-container">
            <img src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="ImagemRedonda" />
        </div>
        <section class="nome-container">
            <h1>@Model.Nome</h1>

        </section>
        <section class="dados-pessoais-conatiner">

            <p><i class="fas fa-id-card"></i> @Model.CPF</p>

            <p><i class="fas fa-envelope"></i> @Model.Telefone</p>

            <p><i class="fas fa-envelope"></i> @Model.Email</p>


        </section>


        <section class="cargo-container">
            <p>Cargo Pretendido:</p>
            <h3>@Model.Cargo_Pretendido</h3>
        </section>

        <section class="midias-sociais-container">
            <div class="social-item">
                <i class="fab fa-facebook fa-2x"></i>
                <p>@Model.Facebook</p>
            </div>

            <div class="social-item">
                <i class="fab fa-linkedin fa-2x"></i>
                <p>@Model.Linkdin</p>
            </div>

            <div class="social-item">
                <i class="fab fa-instagram-square fa-2x"></i>
                <p>@Model.Instagram</p>
            </div>
        </section>

    </div>
    <!-- style="margin-left: 20px; width: 55%; float: left; -->
    <div class="quadro-direito">
        <div class="SobreMIM">
            <h2>Sobre mim</h2>
            <p>
                @Model.SobreMim
            </p>
        </div>
        <div class="Formacoes">
            <h2>Formações</h2>
            @foreach (FormacaoViewModel f in Model.Formacao)
            {

                <div class="formacao item">
                    <h3>@f.Descricao</h3>
                    <p><strong>Instituição:</strong> @f.Instituicao</p>
                    <p><strong>Inicio:</strong> @f.Inicio.ToString("dd/MM/yyyy")</p>
                    <p><strong>Fim:</strong> @f.Fim.ToString("dd/MM/yyyy")</p>
                </div>
            }
        </div>

        <div class="Habilidades">
            <h2>Habilidades</h2>
            @foreach (HabilidadesViewModel h in Model.Habilidades)
            {
                <div class="habilidade item">
                    <h3>@h.Descricao</h3>

                    @if (h.Nivel == 0)
                    {
                        <p><strong>Nivel:</strong> Iniciante</p>
                    }
                    else if (h.Nivel == 1)
                    {
                        <p><strong>Nivel:</strong> Intermediario</p>
                    }
                    else
                    {
                        <p><strong>Nivel:</strong> Avançado</p>
                    }
                </div>
            }
        </div>


        <div class="Idiomas">
            <h2>Idiomas</h2>
            @foreach (IdiomaViewModel i in Model.Idiomas)
            {
                <div class="Idiomas item">
                    <h3>@i.Idioma</h3>
                    <p><strong>Nível:</strong> @i.Nivel</p>
                </div>
            }


        </div>

    </div>
</div>

<script>
    const textFields = document.querySelectorAll('.mdc-text-field');

                    for (const textField of textFields) {
                        mdc.textField.MDCTextField.attachTo(textField);
                    }

</script>


<style>

    *{
        margin:0;
    }

    h1 {
         font-family: 'Holtwood One SC', serif;
         font-size:2em;
     }

    p {
        font-family: 'Indie Flower', cursive;
        font-size: 1.5em;
    }

    h3 {
        font-family: 'Permanent Marker', cursive;
        font-size:2em;
        margin:0;
    }

    h2 {
        font-family: 'Permanent Marker', cursive;
        font-size: 2.5em;
        margin:0;
    }

    .curriculo-container {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #897853;
        padding: 24px;
    }

    .cargo-container {
        margin-top: 16px;
        margin-bottom: 16px;
        padding-bottom:16px;
        padding-top:16px;
        text-align:center;
    }

    .quadro-esquerdo{
        width: 24%;
        /*float: left;*/
        min-height: 100%;
        display: flex;
        background-color: white;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 5px solid black;
    }

    .quadro-direito {
        border: 5px solid black;
        padding-top: 8px;
        padding-left:24px;
        padding-right:24px;
        padding-bottom:8px;
        width: 56%;
        background-color: white;
    }

    .foto-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
        margin-bottom: 8vh;
    }

    .ImagemRedonda {
        border-color: black;
        border-width: 4px;
        border-style: solid;
        border-radius: 50%;
        max-width: 80%;
    }

    .dados-pessoais-item span {
        vertical-align: middle;
        margin-right: 8px;
    }

    .item {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 8px;
    }

    .nome-container{
        margin:0px;
    }

    .social-item{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:8px;
        margin-bottom:8px;
    }


</style>
</html>

