@model CurriculoViewModel
@{
    Layout = null;
}


<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a42a254279.js" crossorigin="anonymous"></script>
</head>


<div>
    <!-- style=" "-->
    <div class="quadro-esquerdo">
        <div class="foto-container">
            <img src="data:image/jpeg;base64,@Model.ImagemEmBase64" class="ImagemRedonda" />
        </div>
        <section class="nome-container">
            <h1>@Model.Nome</h1>

        </section>
        <section class="dados-pessoais-conatiner">

           <p>@Model.CPF</p>

           <p>@Model.Telefone</p>

            <p>@Model.Email</p>


        </section>


        <section class="cargo-container">
            <h2>Cargo Pretendido: @Model.Cargo_Pretendido</h2>
        </section>

        <section class="midias-sociais-container">
            <span><i class="fab fa-facebook fa-2x"></i>@Model.Facebook</span>
            <span><i class="fab fa-linkedin fa-2x"></i>@Model.Linkdin</span>
            <span><i class="fab fa-instagram-square fa-2x"></i>@Model.Instagram</span>

        </section>

    </div>
    <div style="margin-left: 20px; width: 55%; float: left; background: yellow; ">
        <div class="SobreMIM">
            <h2>Sobre mim</h2>
            <p>
                @Model.SobreMim
            </p>
        </div>
        <div class="Formacoes">
            <h3>Formações</h3>
            @foreach(FormacaoViewModel f in Model.Formacao)
            {

                <div class="formacao item">
                    <p><strong>Formacao:</strong>@f.Descricao</p>
                    <p><strong>Instituição:</strong>@f.Instituicao</p>
                    <p><strong>Inicio:</strong>@f.Inicio.ToString("dd/MM/YYYY")</p>
                    <p><strong>Fim:</strong>@f.Fim.ToString("dd/MM/YYYY")</p>
                </div>
            }
        </div>
  
        <div class="Habilidades">
            <h3>Habilidades</h3>
            @foreach(HabilidadesViewModel h in Model.Habilidades)
            {
                <div class="habilidade item">
                    <p>@h.Descricao</p>

                    @if (h.Nivel == 0)
                    {
                        <p><strong>Nivel:</strong>Iniciante</p>
                    }
                    else if (h.Nivel == 1)
                    {
                        <p><strong>Nivel:</strong>Intermediario</p>
                    }
                    else
                    {
                        <p><strong>Nivel:</strong>Avançado</p>
                    }
                </div>
            }
        </div>


        <div class="Idiomas">
            <h3>Idiomas</h3>
            @foreach(IdiomaViewModel i in Model.Idiomas)
            {
                <div class="Idiomas item">
                    <p><strong>Idioma:</strong>@i.Idioma</p>
                    <p><strong>Nível:</strong>@i.Nivel</p>
                </div>
            }


        </div>

    </div>
</div>

<script>
    const textFields = document.querySelectorAll('.mdc-text-field');

                    for (const textField of textFields) {
                        mdc.textField.MDCTextField.attachTo(textField);
                    }

</script>


<style>
    h1 {
                        font-family: 'Holtwood One SC', serif;
                    }

    p {
        font-family: 'Roboto', sans-serif;
    }

    .quadro-esquerdo {
        width: 24%;
        float: left;
        height: 100%;
        display: flex;
        background-color: #eeeeee;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foto-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ImagemRedonda {
        border-color: black;
        border-width: 4px;
        border-style: solid;
        border-radius: 50%;
        max-width: 80%;
    }

    .dados-pessoais-item span {
        vertical-align: middle;
        margin-right: 8px;
    }
</style>
</html>

