@model CurriculoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>

</head>
    
<body>
    <form asp-action="Salvar" method="post">

        @if (@Model.Id >= 0)
        {
            <label for="id" class="control-label">Id</label>
            <input type="number" Name="id" value="@Model.Id" class="form-control" readonly/>
        }

        <label for="nome" class="control-label">Nome</label>
        <input type="text" Name="nome" value="@Model.Nome" class="form-control" />

        <label for="telefone" class="control-label">Telefone</label>
        <input type="text" Name="telefone" value="@Model.Telefone" class="form-control" />


        <label for="CPF" class="control-label">CPF</label>
        <input type="text" Name="CPF" value="@Model.CPF" class="form-control" />


        <label for="Email" class="control-label">E-Mail</label>
        <input type="text" Name="Email" value="@Model.Email" class="form-control" />


        <label for="cargo_pretendido" class="control-label">Cargo Pretendido</label>
        <input type="text" Name="cargo_pretendido" value="@Model.Cargo_Pretendido" class="form-control" />


        <label for="cep" class="control-label">CEP</label>
        <input type="text" Name="cep" value="@Model.CEP" class="form-control" />


        <label for="rua" class="control-label">Rua</label>
        <input type="text" Name="rua" value="@Model.Rua" class="form-control" />

        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" Name="bairro" value="@Model.Bairro" class="form-control" />


        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" Name="cidade" value="@Model.Cidade" class="form-control" />


        <label for="estado" class="control-label">Estado</label>
        <input type="text" Name="estado" value="@Model.Estado" class="form-control" />

       
        <div id="formacao_group">
            <h3>Formações</h3>
            @if (@Model.Formacao != null && @Model.Formacao.Count > 0)
            {

                for (int i = 0; i < @Model.Formacao.Count; i++)
                {
                    <div class="formacao-item">

                        <label for="Formacao[@i].Id" class="control-label">Id</label>
                        <input type="text" Name="Formacao[@i].Id" value="@Model.Formacao[i].Id" class="form-control" readonly />


                        <label for="Formacao[@i].IdCurriculo" class="control-label">Id Curriculo</label>
                        <input type="text" Name="Formacao[@i].IdCurriculo" value="@Model.Formacao[i].IdCurriculo" class="form-control" readonly />

                        <label for="Formacao[@i].Instituicao" class="control-label">Instituição</label>
                        <input type="text" Name="Formacao[@i].Instituicao" value="@Model.Formacao[i].Instituicao" class="form-control" />

                        <label for="Formacao[@i].Descricao" class="control-label">Descrição</label>
                        <input type="text" Name="Formacao[@i].Descricao" value="@Model.Formacao[i].Descricao" class="form-control" />

                        <label for="Formacao[@i].Inicio" class="control-label">Inicio</label>
                        <input type="date" Name="Formacao[@i].Inicio" value="@Model.Formacao[i].Inicio" class="form-control" />


                        <label for="Formacao[@i].Fim" class="control-label">Fim</label>
                        <input type="date" Name="Formacao[@i].Fim" value="@Model.Formacao[i].Fim" class="form-control" />

                    </div>
                }

            }
            <input type="button" id="btAddFormacao" value="Adcionar Formação" />
        </div>


        <div id="idiomas_group">
            <h3>Idiomas</h3>
            @if (@Model.Idiomas != null && @Model.Idiomas.Count > 0)
            {
                for (int i = 0; i < @Model.Idiomas.Count; i++)
                {
                    <div class="idioma-item">
                        <label for="Idiomas[@i].Id" class="control-label">Id</label>
                        <input type="text" Name="Idiomas[@i].Id" value="@Model.Idiomas[i].Id" class="form-control" readonly />


                        <label for="Idiomas[@i].IdCurriculo" class="control-label">Id Curriculo</label>
                        <input type="text" Name="Idiomas[@i].IdCurriculo" value="@Model.Idiomas[i].IdCurriculo" class="form-control" readonly />


                        <label for="Idiomas[@i].Idioma" class="control-label">Idioma</label>
                        <input type="text" Name="Idiomas[@i].Idioma" value="@Model.Idiomas[i].Idioma" class="form-control" />


                        <label for="Idiomas[@i].Nivel" class="control-label">Nível</label>
                        <input type="text" Name="Idiomas[@i].Nivel" value="@Model.Idiomas[i].Nivel" class="form-control" />
                    </div>
                }
            }
            <input type="button" id="btAddIdioma" value="Adcionar Idioma" />
        </div>

        <div id="habilidades_group">
            <h3>Habilidades</h3>

            @if (@Model.Habilidades != null && Model.Habilidades.Count > 0)
            {
                for (int i = 0; i < Model.Habilidades.Count; i++)
                {
                    <div class="habilidade-item">

                        <label for="Habilidades[@i].Id" class="control-label">Id</label>
                        <input type="text" Name="Habilidades[@i].Id" value="@Model.Habilidades[i].Id" class="form-control" readonly />


                        <label for="Habilidades[@i].IdCurriculo" class="control-label">Id Curriculo</label>
                        <input type="text" Name="Habilidades[@i].IdCurriculo" value="@Model.Habilidades[i].IdCurriculo" class="form-control" readonly />


                        <label for="Habilidades[@i].Descricao" class="control-label">Descrição</label>
                        <input type="text" Name="Habilidades[@i].Descricao" value="@Model.Habilidades[i].Descricao" class="form-control" />


                        <label for="Habilidades[@i].Descricao" class="control-label">Descrição</label>
                        <input type="text" Name="Habilidades[@i].Descricao" value="@Model.Habilidades[i].Descricao" class="form-control" />

                        <label for="Habilidades[@i].Nivel" class="control-label">Nivel</label>
                        <input type="number" Name="Habilidades[@i].Nivel" value="@Model.Habilidades[i].Nivel" class="form-control" />

                     </div>
                }
            }

            <input type="button" id="btAddHabilidade" value="Adcionar Habilidade" />
        </div>

        <input type="submit" value="Salvar dados" class="btn btn-info" />

    </form>
</body>

<script type="text/javascript">

    var formacoes = document.getElementsByClassName("formacao-item").length;
    var idiomas = document.getElementsByClassName("idioma-item").length
    var habilidades = document.getElementsByClassName("habilidade-item").length;
   
    divFormacao = document.getElementById("formacao_group");
    btFormacao = document.getElementById("btAddFormacao");

    btFormacao.onclick = adcionaFormacao;


    divIdiomas = document.getElementById("idiomas_group");
    btIdiomas = document.getElementById("btAddIdioma");

    btIdiomas.onclick = adcionaIdioma;

    divHabilidades = document.getElementById("habilidades_group");
    btHabilidades = document.getElementById("btAddHabilidade");

    btHabilidades.onclick = adcionaHabilidade;

    function adcionaFormacao()
    {

        formacaoDiv = document.createElement("div");
        formacaoDiv.setAttribute("class", "formacao-item");

        // instituição

        instituicaoLabel = document.createElement("label")
        instituicaoLabel.setAttribute("for", `Formacao[${formacoes}]`);
        instituicaoLabel.innerHTML = "Instituicao";

        formacaoDiv.appendChild(instituicaoLabel);

        instituicaoInput = document.createElement("input");
        instituicaoInput.setAttribute("type", "text");
        instituicaoInput.setAttribute("name", `Formacao[${formacoes}].Instituicao`);

        formacaoDiv.appendChild(instituicaoInput);


        //descricao
        descricaoLabel = document.createElement("label")
        descricaoLabel.setAttribute("for", `Formacao[${formacoes}].Descricao`);
        descricaoLabel.innerHTML = "Descrição";

        formacaoDiv.appendChild(descricaoLabel);

        descricaoInput = document.createElement("input");
        descricaoInput.setAttribute("type", "text");
        descricaoInput.setAttribute("name", `Formacao[${formacoes}].Descricao`);

        formacaoDiv.appendChild(descricaoInput);


        //Inicio
        inicioLabel = document.createElement("label")
        inicioLabel.setAttribute("for", `Formacao[${formacoes}].Inicio`);
        inicioLabel.innerHTML = "Inicio";

        formacaoDiv.appendChild(inicioLabel);

        inicioInput = document.createElement("input");
        inicioInput.setAttribute("type", "date");
        inicioInput.setAttribute("name", `Formacao[${formacoes}].Inicio`);

        formacaoDiv.appendChild(inicioInput);

        //Fim
        fimLabel = document.createElement("label")
        fimLabel.setAttribute("for", `Formacao[${formacoes}].Fim`);
        fimLabel.innerHTML = "Fim";

        formacaoDiv.appendChild(fimLabel);

        fimInput = document.createElement("input");
        fimInput.setAttribute("type", "date");
        fimInput.setAttribute("name", `Formacao[${formacoes}].Fim`);

        formacaoDiv.appendChild(fimInput);


        formacoes++;

        divFormacao.appendChild(formacaoDiv);

    }

    function adcionaIdioma() {
        idiomaDiv = document.createElement("div")
        idiomaDiv.setAttribute("class","idioma-item");

        // idioma

        idiomaLabel = document.createElement("label")
        idiomaLabel.setAttribute("for", `Idiomas[${idiomas}].Idioma`);
        idiomaLabel.innerHTML = "Idioma";

        idiomaDiv.appendChild(idiomaLabel);

        idiomaInput = document.createElement("input");
        idiomaInput.setAttribute("type", "text");
        idiomaInput.setAttribute("name", `Idiomas[${idiomas}].Idioma`);

        idiomaDiv.appendChild(idiomaInput);

        // nivel

        nivelLabel = document.createElement("label")
        nivelLabel.setAttribute("for", `Idiomas[${idiomas}].Nivel`);
        nivelLabel.innerHTML = "Idioma";

        idiomaDiv.appendChild(nivelLabel);

        nivelInput = document.createElement("input");
        nivelInput.setAttribute("type", "text");
        nivelInput.setAttribute("name", `Idiomas[${idiomas}].Nivel`);

        idiomaDiv.appendChild(nivelInput);

        idiomas++;
        divIdiomas.appendChild(idiomaDiv);

    }

    function adcionaHabilidade() {

        habilidadeDiv = document.createElement("div")
        habilidadeDiv.setAttribute("class", "habilidade-item");

        // descricao

        descricaoLabel = document.createElement("label")
        descricaoLabel.setAttribute("for", `Habilidades[${habilidades}].Descricao`);
        descricaoLabel.innerHTML = "Descrição";

        habilidadeDiv.appendChild(descricaoLabel);

        descricaoInput = document.createElement("input");
        descricaoInput.setAttribute("type", "text");
        descricaoInput.setAttribute("name", `Habilidades[${habilidades}].Descricao`);

        habilidadeDiv.appendChild(descricaoInput);

        // nivel

        nivelLabel = document.createElement("label")
        nivelLabel.setAttribute("for", `Habilidades[${habilidades}].Nivel`);
        nivelLabel.innerHTML = "Nivel";

        habilidadeDiv.appendChild(nivelLabel);

        nivelInput = document.createElement("input");
        nivelInput.setAttribute("type", "number");
        nivelInput.setAttribute("name", `Habilidades[${habilidades}].Nivel`);

        habilidadeDiv.appendChild(nivelInput);

        habilidades++;

        divHabilidades.appendChild(habilidadeDiv);
    }

</script>

</html>