@model JogoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Jogos</h2>
<form action="Salvar" method="post">
    <div style="width: 30%; float:left; background:gray;">
        First DIV
        <img src="~/Images/Avatar.png" class="ImagemRedonda" />
        <h2>Nome do fulano</h2>
        <h2>Nome do fulano</h2>
        <h2>Nome do fulano</h2>
        <h2>Nome do fulano</h2>
        <h2>Nome do fulano</h2>
        <h2>Nome do fulano</h2>
        <h2>Nome do fulano</h2>
    </div>
    <div style="width: 70%; float:left;  background:yellow; ">
        Second DIV
        <label for="Id" class="control-label">Id</label>
        <input type="number" Name="Id" value="@Model.Id" <!--class="form-control" --> />
        <br />
        <label for="Descricao" class="control-label">Nome do Jogo</label>
        <input type="text" Name="Descricao" value="@Model.Descricao" <!--class="form-control" --> />
        <br />
        <label for="Valor_Locacao" class="control-label">Valor da Locação</label>
        <input type="text" Name="Valor_Locacao" value="@Model.Valor_Locacao" <!--class="form-control" -->/>
        <br />
        <label for="Categoria" class="control-label">Categoria</label>
        <input type="number" Name="Categoria" value="@Model.Categoria" <!--class="form-control" --> />
        <br />
        <label for="Data_Aquisicao" class="control-label">Data da Aquisicao</label>
        <input type="date" Name="Data_Aquisicao" value="@Model.Data_Aquisicao.ToString("yyyy-MM-dd")" <!--class="form-control" --> />
        <br />
        <input type="submit" value="Salvar dados" <!--class="btn btn-info"" --> />
        <br />
    </div>

</form>
