
@model List<CurriculoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (ViewBag.Idioma == "I")
{
    <a href="/curriculo/create">New Register</a>

    <br />
    <h2>Curriculum Listing</h2>
}
else
{
    <a href="/curriculo/create">Novo Registro</a>

    <br />
    <h2>Listagem de Curriculos</h2>
}

<table class="table table-responsive table-striped">
    <tr>

        @if (ViewBag.Idioma == "I")
        {
            <th>Action</th>
            <th>CPF</th>
            <th>Name</th>
            <th>CEP</th>
            <th>Street</th>
        }
        else
        {
            <th>Ações</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>CEP</th>
            <th>Rua</th>
        }

    </tr>
    @foreach (var cur in Model)
    {
        <tr>
            <td>
                @if (ViewBag.Idioma == "I")
                {
                    <a href="Curriculo/Edit?id=@cur.Id">Edit</a>
                    <a href="javascript:apagarJogo(@cur.Id)">Delete</a>
                    <a href="Curriculo/Exibir?id=@cur.Id">View</a>
                }
                else
                {
                    <a href="Curriculo/Edit?id=@cur.Id">Editar</a>
                    <a href="javascript:apagarJogo(@cur.Id)">Apagar</a>
                    <a href="Curriculo/Exibir?id=@cur.Id">Visualizar</a>
                }

            </td>

            <td>@cur.CPF</td>
            <td>@cur.Nome</td>
            <td>@cur.CEP</td>
            <td>@cur.Rua</td>
        </tr>
    }
</table>

<script>

    var idiomaSelecionado = getCookie("Curriculo_Idioma");


    function apagarJogo(id) {
        if (idiomaSelecionado == "I") {
            if (confirm('Confirm the deletion of the record?'))
                location.href = 'Curriculo/Delete?id=' + id;
        }
        else {
            if (confirm('Confirma a exclusão do registro?'))
                location.href = 'Curriculo/Delete?id=' + id;
        }

    }


    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }


</script>