
@model List<CurriculoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a href="/jogo/create">Novo Registro</a>
<br />
<h2>Listagem de Curriculos</h2>
<table class="table table-responsive table-striped">
    <tr>
        <th>Ações</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>CEP</th>
        <th>Rua</th>
    </tr>
    @foreach (var cur in Model)
    {
        <tr>
            <td>
                <a href="Curriculo/Edit?id=@cur.Id">Editar</a>
                <a href="javascript:apagarJogo(@cur.Id)">Apagar</a>
            </td>

            <td>@cur.CPF</td>
            <td>@cur.Nome</td>
            <td>@cur.Endereco.CEP</td>
            <td>@cur.Endereco.Rua</td>
        </tr>
    }
</table>

<script>
     function apagarJogo(id)
     {
         if (confirm('Confirma a exclusão do registro?'))
         location.href = 'Curriculo/Delete?id=' + id;
     }
</script>